.button {
    color: #474955;
    background-color: transparent;
    border: transparent;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 767px) {
    .button {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .button {
        font-size: 20px;
        padding: 10px 18px;
    }
}