#root {
    display: flex;
    justify-content: space-between;
}

.app {
    width: 1076px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loader {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .app {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .app {
        width: 90%;
    }
}